.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #04004A;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    transition: all .5s;
    color: white;
    text-decoration: none;
}

.media:hover {
    transform: scale(1.02);
    background-color: #FFDCFF;
    color: black;
    box-shadow: 9px 7px 31px -8px #51308E;
    cursor: pointer;
}

@media (max-width: 550px) {
    .media {
        width: 46%;
    }
}

.poster {
    border-radius: 10px;
}


.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.subTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
    font-weight: 600;
}